.details {
  @include full-width;
  background-color: $color-white;
  .container {
    height: 100%;
    @include space-inside($top: 9rem, $bottom: 6rem);
    .center-box {
      @include flexy($just: center);
      .decorated-text {
        position: relative;
        .divider {
          top: -64px;
          left: 7px;
          transform: rotate(136deg);
          width: 150px;
          opacity: .2;
          @include media('extra-large'){
            width: 190px;
          }

          @include media('huge'){
            width: 300px;
          }
        }
        h2 {
          @include media('large'){
            text-align: left;
            line-height: 1.5;
          }
        }
      }
      @include media('large'){
        width: 30%;
      }
    }
    .wedding-info {
      @include italic-font;

      .when {
        @include space-outside($top: 4rem);
        @include media('medium'){
          @include space-outside($top: 3rem);
        }
      }
      .where {
        @include space-outside($top: 3rem);
      }
      .when, .where {
        h3 {
          color: $color-pink;
          @include space-outside($top: 1rem, $bottom: 1rem);
          @include media('large'){
            @include space-outside($top: 0);
          }
        }
        @include letter-space(.2rem);
        @include space-outside($bottom: 3rem);

        @include media('medium'){
          width: 48%;
          @include center;
        }

        @include media('large'){
          text-align: left;
          @include full-width;
          @include space-outside($top: 0);
        }
      }

      @include media('medium'){
        @include flexy($just: space-between);
      }

      @include media('large') {
        @include flexy($dir: column, $align: flex-start);
      }
    }

    @include media('large'){
      @include flexy($just: space-around);
    }

    @include media('huge'){
      @include space-inside($top: 14rem);
    }
  }
}
