.registry {
  @include full-width;
  background-color: $color-white;
  @include center;
  // clip the section right bottom corner
  @include clip($clip: 81%, $height: 700px);
  .container {
    @include space-inside($top: 9rem);
    @include space-outside($top: -4rem);
    .spaced-letters {
      @include media('medium'){
        @include letter-space($space: 20px);
      }
    }

    p {
      @include space-outside($top: 4rem);
      @include italic-font;
    }

    .brands {
      @include space-inside($top: 3rem, $bottom: 3rem);
      @include full-width;
      @include flexy($dir: row, $just: space-around, $align: null);

      .icon {
        @include square($value: 60px);

        @include media('medium'){
          @include square($value: 70px);
        }

        @include media('extra-large'){
          @include square($value: 85px);
        }
      }

      .icon[alt='aws icon']{
        width: 75px;
        height: 60px;

        @include media('medium'){
          width: 85px;
          height: 70px;
        }

        @include media('extra-large'){
          width: 115px;
          height: 85px;
        }
      }

      @include media('medium'){
        @include space-inside($top: 5rem);
      }

      @include media('extra-large'){
        @include space-inside($top: 8rem);
      }
    }

    @include media('huge'){
      @include space-inside($top: 14rem);
    }

  }

  @include media('medium'){
    @include clip($clip: 577px, $height: 700px);
  }

  @include media('extra-large'){
    @include clip($clip: 604px, $height: 800px);
  }


  @include media('huge'){
    @include clip($clip: 718px, $height: 1100px);
  }
}
