.rsvp {
  // transform: skewY(-12deg);
  height: 60vh;
  background-color: $color-light-pink;
  .container {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: gray;
    }

    a {
      text-decoration: none;
    }
    p {
      font-style: italic;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

  }

  @media (min-width: 768px){
      height: 530px;
  }

  // @media (min-width: 1024px){
  //     height: 45vh;
  // }

  @media (min-width: 2560px){
      height: 600px;
  }
}
