.rsvp {
  height: 450px;
  background-color: $color-light-pink;
  .container {
    @include center;
    @include space-inside($top: 9rem, $bottom: 6rem);
    @include flexy($dir: column, $just: center, $align: center);

    h2 {
      color: gray;
    }

    a {
      @include remove-underline;
    }
    p {
      @include italic-font;
      @include space-outside($top: 1rem, $bottom: 3rem);
    }

  }

  @include media('medium'){
      height: 530px;
  }

  @include media('huge'){
      height: 600px;
  }
}
