.story {
  background-color: $color-light-pink;
  padding-top: 14rem;
  padding-bottom: 7rem;
  margin-top: -25vh;
  text-align: center;

  .container {
    @media (min-width: 768px) {
        width: 75%;
        margin: 0 auto;
    }
  }

  p {
    font-style: italic;
    margin-bottom: 2rem;

    span {
      font-weight: 900;
      color: #C0C0C0;
    }
  }
}
