.story {
  background-color: $color-light-pink;
  padding-top: 12rem;
  padding-bottom: 5rem;
  margin-top: -25vh;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    font-size: 1.65rem;
  }

  p {
    font-style: italic;
  }
}
