@mixin letter-space($space) {
  letter-spacing: $space;
}

@mixin space-inside($top: null, $right: null, $bottom: null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin space-outside($top: null, $right: null, $bottom: null, $left: null){
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin positioning($position: null, $top: null, $right: null, $bottom: null, $left: null){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin big-letters {
  text-transform: uppercase;
}

@mixin italic-font {
    font-style: italic;
}

@mixin center {
  text-align: center;
}

@mixin center-container($width: null) {
  width: $width;
  margin: 0 auto;
}

@mixin remove-underline {
  text-decoration: none;
}

@mixin shadow {

}

@mixin full-width {
  width: 100%;
}

@mixin clip($clip: null, $height: null) {
  clip-path: polygon(0 0, 100% 0, 100% $clip, 0 100%);
  height: $height;
}

@mixin square($value: null){
  height: $value;
  width: $value;
}

@mixin rounded ($width: null, $height: null) {
  width: $width;
  height: $height;
  border-radius: 50%;
}

@mixin flexy($dir: row, $just: null, $align: null){
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
