// COLORS
$color-black: #262626;
$color-pink: #edd2d0;
$color-white: #fafafa;
$color-creamy: #EDECE9;
$color-super-pink: #FC00E0;
$color-super-orange: #FC8400;
$color-light-gray: #e0deda;
$color-light-pink: #f7e9e8;
