footer {
  background-color: $color-light-pink;
  .container {
    position: relative;
    margin-top: -13rem;
    padding-top: 14rem;
    font-style: italic;
    text-align: center;
    h3, p {
      font-weight: 200;
    }

    .copyright {
      font-size: 0.7rem;

      @media (min-width: 2560px) {
        font-size: 1.5rem;
      }

    }

    @media (min-width: 2560px) {
      margin-top: -25rem;
      padding-top: 20rem;
    }


  }
}
