.header {
  @include center;
  position: relative;
  @include full-width;
  // set up the background image
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/main-bg.jpg') no-repeat center;
  background-size: cover;
  // clip the background image
  @include clip($clip: 75vh, $height: 100vh);
  .container {
    height: 100%;

    @include media('medium'){
      @include full-width;
    }
  }
  .intro-text {
    width: 85%;
    background-color: rgba($color-white, .5);
    @include space-inside($top: 1.5rem, $right: 1.5rem, $bottom: 1.5rem, $left: 1.5rem);
    // add box shadow
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, .5);
    // center this container inside its parent
    @include positioning($position: absolute, $top: 45%, $left: 50%);
    transform: translate(-50%, -50%);
    h1 {
      @include letter-space(3px);
      font-weight: 300;
      font-size: 3rem;
      @include big-letters;
      @include media('medium'){
        display: inline-block;
      }

      @include media('huge'){
        font-size: 4rem;
      }
    }
    .and {
      font-weight: 300;
      font-size: 3rem;
      display: block;
      @include media('medium'){
        display: inline-block;
      }
    }
    h3 {
      @include space-outside($top: 1rem);
      font-weight: 400;
      font-style: italic;
    }

    .spaced-words {
      @include space-outside($bottom: 1rem);

      @include media('medium') {
        word-spacing: 40px;
        @include space-outside($bottom: 2rem);
      }
    }

    @include media('medium') {
      @include space-inside($top: 4rem, $bottom: 4rem);
    }

    @include media('large') {
      width: 60%;
    }

    @include media('extra-large') {
      width: 45%;
    }
  }
}
