.navigation-sm {
  width: 100%;

  .menu-icon {
    width: 100%;
    text-align: right;
    color: $color-white;
    font-size: 2rem;
  }

  .nav-bar {
    padding-top: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    transition: all .5s linear;
    transform: translateX(-300px);
    opacity: 0;

    // make this always on top
    z-index: 1000;
    background-color: $color-creamy;
    li {
      margin: 0 auto;
      width: 60%;
      padding: 1rem;
      font-style: italic;
      position: relative;
      transition: all .3s ease;
      &:hover {
        transform: scale(1.2);
        color: rgba($color-super-orange, .2);
      }
    }
  }

  .show {
    transform: translateX(0);
    opacity: 1;
  }

}
