.navigation-sm {
  @include full-width;
  font-weight: 200;
  .menu-icon {
    @include full-width;
    text-align: right;
    color: $color-white;
    font-size: 2rem;

    @include media('large'){
      display: none;
    }
  }

  .nav-bar {
    @include space-inside($top: 3.5rem);
    @include positioning($position: absolute, $top: 0, $left: 0);
    width: 70%;
    height: 100vh;
    transition: all .5s linear;
    transform: translateX(-300px);
    opacity: 0;

    // make this always on top
    z-index: 2000;
    background-color: $color-light-gray;
    li {
      @include center-container($width: 60%);
      @include space-inside($top: 1rem, $right: 1rem, $bottom: 1rem, $left: 1rem);
      a {
        display: block;
        @include remove-underline;
        @include italic-font;
        transition: all .2s ease;
        &:hover {
          color: darken($color-light-pink, 10%);
          transform: scale(1.2);
        }
        @include media('large'){
          color: white;
        }
      }

      @include media('large'){
          width: 90%;
          font-size: 0.75rem;
      }

      @include media('huge'){
          font-size: 1.35rem;
          @include space-inside($top: 2rem, $right: 2rem, $bottom: 2rem, $left: 2rem);
      }

    }

    @include media('medium'){
      width: 50%;
    }

    @include media('large'){
      transform: translateX(0);
      opacity: 1;
      @include positioning($position: absolute, $top: 0, $left: 22px);
      background-color: transparent;
      width: 16%;
    }

    @include media('extra-large'){
      @include positioning($position: absolute, $top: 0, $left: 78px);
      @include space-inside($top: 6rem);
    }

    @include media('huge'){
      @include space-inside($top: 10rem);
        width: 20%;
    }
  }

  .show {
    transform: translateX(0);
    opacity: 1;
  }

  @include media('large'){
    font-weight: 400;
  }
}
