.composition {
  width: 100%;
  .composition__photo {
    margin-top: 1rem;
    border-radius: 2px;

    @media (min-width: 1024px){
      width: 45%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      position: absolute;
      z-index: 10;
      transition: all .3s;
      // make space between the outline and the image
      outline-offset: .85rem;

      &:hover {
        outline: 1rem solid $color-white;
        transform: scale(1.05) translateY(-.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        z-index: 20;
      }
    }
  }

  .--p1 {
    @media (min-width: 1024px){
      left: 0; top: 2rem;
    }
  }

  .--p2 {
    @media (min-width: 1024px){
    right: 0; top: 2rem;
    z-index: 8;
    }
  }

  .--p3 {
      @media (min-width: 1024px){
      left: 27%;
      top: 14rem;

    }
  }

  @media (min-width: 1024px){
    position: relative;
    // give the container a height
    height: 30rem;
  }

  @media (min-width: 1440px){
    margin-top: 2rem;
  }
}
