.divider {
  width: 120px;
  @include positioning($position: absolute, $right: 3px, $bottom: 0);
  z-index: 2000;
  opacity: 0.3;

  @include media('medium'){
    width: 135px;
  }

  @include media('huge'){
    width: 270px;
  }

}
