.map {
  background-color: $color-light-gray;
  @include full-width;
  height: 400px;
  @include space-outside($bottom: 6rem);

  @include media('large'){
    height: 500px;
  }

  @include media('extra-large'){
    height: 700px;
  }

  @include media('huge'){
    height: 900px;
  }
}
