.video-bg {
  @include full-width;
  height: 100vh;
  position: relative;
  overflow: hidden;
  video {
    @include positioning($position: absolute, $top: -40px, $left: 0);
    height: 100%;
    @include media('large') {
      // override the height
      height: auto;
      width: 100%;
      min-height: 100%;
    }
  }
  @include media('large') {
    height: 625px;
  }

  @include media('extra-large') {
    height: 825px;
  }

  @include media('huge') {
    height: 1225px;
  }
}
