* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem; //16px
  color: black;
  font-family: 'Lato', sans-serif;
  @include letter-space(1.5px);
  line-height: 1.2;

  @media (min-width: 1440px){
    font-size: 1.15rem;
  }

  @media (min-width: 2560px){
    font-size: 2rem;
  }
}

ul {
  // get rid of default bullets
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  color: $color-black;
}

h1 {
  margin: 0;
}

h2 {
  @include center;
  color: $color-black;
  @include big-letters;
  font-weight: 300;
  @include letter-space(3px);
  @include space-outside($bottom: 1.5rem);
  font-size: 1.65rem;
  @include media('large') {
    font-size: 1.85rem;
  }
  @include media('huge') {
    font-size: 2.85rem;
  }
}

.spaced-words {
  @include space-outside($bottom: 3rem);
  @include media('medium') {
      word-spacing: 40px;
  }
}

.spaced-letters {
  @include letter-space(6px);

  @include media('medium'){
    @include letter-space(10px);
  }

  @include media('large') {
    @include letter-space(20px);
  }
}

p {
  @include space-outside($bottom: 1rem);
  font-weight: 200;
}
